.form-group
  %label.control-label{ :for => 'password' } Generated Password
  %input.form-control.input-lg{ :type => 'text', :name => 'password', :autocomplete => 'off', :autofocus => true, :readonly => true, :id => 'password', :value => @password }
%a.btn.btn-default{ :id => 'copy-button', 'data-clipboard-target' => '#password', :alt => 'Click to Copy', 'data-placement' => 'auto bottom' }
  %i.fa.fa-clipboard
  Copy to Clipboard
%a.btn.btn-default{:id => 'reload', :alt => 'Reload', :href => request.path_info}
  %i.fa.fa-refresh
  Reload for another
%script{ :src => 'assets/app.js' }
