.form-group
  %label.control-label{ :for => 'password' } Generated Password
  %input.form-control.input-lg{ :type => 'text', :name => 'password', :autocomplete => 'off', :autofocus => true, :readonly => true, :id => 'password', :value => @password }
%button.btn.btn-default{:id => 'copy-button', 'data-clipboard-target' => 'password', :title => 'Click to Copy'} Copy to Clipboard
%a.btn.btn-default{:id => 'reload', :title => 'Reload', :href => request.path_info} Reload
%script{:src => '/assets/ZeroClipboard.min.js'}
:javascript
  $(function() {
    if(!swfobject.hasFlashPlayerVersion("1")) {
      $("#copy-button").hide();
      $('#password').attr('readonly', false).attr('autofocus', false);
    } else {
      $('#password').focus(function() { $(this).select(); }).mouseup(function(e){ e.preventDefault();}); 
      ZeroClipboard.config({ swfPath: "/assets/ZeroClipboard.swf" });
      var clip = new ZeroClipboard( $("button#copy-button") );
    }
  });
