!!! 5
%html
  %head
    %meta{ :name => 'viewport', :content => "width=device-width, initial-scale=1.0" }
    %link{href: "//stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu", crossorigin: "anonymous"}
    %script{ :src => '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' }
    %script{src: "//stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js", integrity: "sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd", crossorigin: "anonymous"}
    %script{ :src => '//use.fontawesome.com/ea395d6723.js' }
    %script{ :src => '//cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js', :integrity => 'sha256-FiZwavyI2V6+EXO1U+xzLG3IKldpiTFf3153ea9zikQ=' }
    %title pwqgen - A passwdqc random password generator
  %body
    %header#header.container
      %h1
        %a{ :href => '/' } pwqgen
        %small A random password generator.
      %hr
    
    #content.container
      =yield

    %footer#footer.container
      %hr
      :markdown
        This page should be viewed over `HTTPS`.

        For `text/plain`, append [/txt](/txt) to the URL.
        Single output available at [/](/), multiple outputs available at [/m](/m), PIN (0-9) output at [/pin](/pin), and hex (0-f) at [/hex](/hex).
      - if @classic
        :markdown
          Powered by `pwqgen` from the [passwdqc](http://www.openwall.com/passwdqc/) package, and the source for this web-view is available on [github](https://github.com/iphoting/pwqgen-web).
      - else
        :markdown
          Powered by [`pwqgen.rb`](https://github.com/iphoting/pwqgen.rb), and the source for this web-view is available on [github](https://github.com/iphoting/pwqgen-web).
