!!! 5
%html
  %head
    %meta{:name => 'viewport', :content => "width=device-width, initial-scale=1"}
    %script{ :src => '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'}
    %script{ :src => '//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js' }
    %title pwqgen - A passwdqc random password generator
  %body
    %header#header
      %h1 pwqgen
      %p A random password generator.
      %hr
    
    #content
      =yield

    %footer#footer
      %hr
      %p 
        :markdown
          The password generator is powered by pwqgen from the [passwdqc](http://www.openwall.com/passwdqc/) package. The source for this web-view is available on [github](https://github.com/iphoting/pwqgen-web).
