!!! 5
%html
  %head
    %meta{ :name => 'viewport', :content => "width=device-width, initial-scale=1.0" }
    %link{ :rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' }
    %link{ :rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css' }
    %script{ :src => '//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' }
    %script{ :src => '//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' }
    %script{ :src => '//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js' }
    %title pwqgen - A passwdqc random password generator
  %body
    %header#header.container
      %h1
        %a{ :href => '/' } pwqgen
        %small A random password generator.
      %hr
    
    #content.container
      =yield

    %footer#footer.container
      %hr
      :markdown
        This page should be viewed over `HTTPS`.

        For `text/plain`, append [/txt](/txt) to the URL.
        Single output available at [/](/), multiple outputs available at [/m](/m), PIN (0-9) output at [/pin](/pin), and hex (0-f) at [/hex](/hex).

        Powered by `pwqgen` from the [passwdqc](http://www.openwall.com/passwdqc/) package, and the source for this web-view is available on [github](https://github.com/iphoting/pwqgen-web).
